<ion-header>
 
  <ion-toolbar>
    <ion-title>Português</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='bg'>
  <p >Assuntos:</p>
  <ion-card class='card' type = 'button' [routerLink]="['/ass']" routerdirection="foward">

  
    <ion-card-content class='gg'>
   
    </ion-card-content>
  </ion-card>

  <p >Questões:</p>
  <ion-card class='card' type = 'button' [routerLink]="['/quiz']" routerdirection="foward">

  
    <ion-card-content class='matt'>
   
    </ion-card-content>
  </ion-card>

  

 
</ion-content>
