<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-list-header>
ETE+
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="['/disciplina']" routerdirection="foward" detail="false">
              <ion-icon slot="start" name="book"></ion-icon>
              <ion-label >Área de estudos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="['/login']" routerdirection="foward" detail="false">
              <ion-icon slot="start" name="create"></ion-icon>
              <ion-label>Como me inscrevo?</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item  detail="false">
              <ion-icon slot="start" name="school"></ion-icon>
              <ion-label>Na minha cidade tem ETE?</ion-label>
            </ion-item>
          </ion-menu-toggle>
    

        </ion-list>
        


      </ion-content>
      <ion-content>
        

        <ion-list lines="none">
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>Mostrar Tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>
              Tema Escuro
            </ion-label>
            <ion-toggle  [(ngModel)]="dark" checked="true"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-content>

      <ion-content>

        
        <ion-list lines="none">
          <ion-list-header>
Ferramentas
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item  detail="false">
              <ion-icon slot="start" name="information-circle-outline"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle autoHide="false">
            <ion-item  detail="false">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>Configurações</ion-label>
            </ion-item>
          </ion-menu-toggle>


        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
