<ion-header>
  <ion-toolbar>
    <ion-title>Assuntos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/']">
      <ion-label>Figuras de linguagem</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Interpretação de texto</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Substantivo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pronomes</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Objetos(Direto e indireto)</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
