<ion-header>
 
  <ion-toolbar>
    <ion-title>Área de estudos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='bg'>
  <ion-card class='card' type = 'button' [routerLink]="['/port']" routerdirection="foward">

  
    <ion-card-content >
   <img class='mat' src = '../../../assets/img/port.png'/>
    </ion-card-content>
  </ion-card>
  <ion-card class='card' type = 'button' [routerLink]="['/mat']" routerdirection="foward">

  
    <ion-card-content class='matt'>
   
    </ion-card-content>
  </ion-card>

  

 
</ion-content>
